<!DOCTYPE html>
<head>
  Job Portal
</head> 

<body>

  <header>
    <nav>
        <div class="row"> 
            <li><h3 class="name " style="color:rgb(172, 233, 115)">JOB PORTAL</h3> </li>  
              <ul class="main-nav offset-md-8">
                  <li><a href="#">ABOUT US</a></li>
              </ul>
          </div>
      </nav>
        
      

      <div class="text-box" style="font-style:oblique;font-family:Didot, serif">
        <div class="title">
            <h1 >Create Your Future With Us...</h1><br><br>
        </div>
        
        <!-- <h3 style="color:rgb(167, 165, 163)">  We make you<br>That much good,<br> so no one can ignore you...</h3> -->
        <h3 style="color:rgb(167, 165, 163)">Make your PASSION<br>As your JOB,<br>And bring bigger SUCCESS...</h3>
       
        <div class="btn-align">
          <a class="btn btn-ghost" href="registration">Register here</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-ghost" href="login">login</a>

       </div>
        
      </div>
    
            

</header> 
</body>

<!-- <html>

<body>
  <div class="card-body">
    <section style="text-align:center ">
      
      <div>
      </div><br>
      <div>
        <a class="btn btn-dark " href="registration">REGISTRATION</a>
      </div>
    </section>
  </div>
</body>

</html> -->