<header>
  <nav>
    <div class="row">
      <li>
        <h3 class="name">JOB PORTAL</h3>
      </li>
      <ul class="main-nav offset-md-4">
        <li><a href="#">ABOUT US</a></li>
        <li><a href="login">LOGIN</a></li>
        <li><a href="homepage">HOME</a></li>
      </ul>
    </div>
  </nav>


</header>

<div class="col-md-5 mx-auto" style="padding-top:80px; opacity: 0.8">
  <div class="card border">

    <h3 style="color : rgb(90, 148, 19);padding-top:10px;padding-left:70px">Forgot Password</h3>
    <div class="loginImage offset-md-4"></div><br>
    <div class="card-body">
      <div class="panel panel-primary">
        <div class="panel-body">

          <form [formGroup]="forgotPasswordForm" class="form-horizontal">

            <div class="form-group " [ngClass]="{'has-error' : formErrors.password}">
              <!-- <label class="col-sm-8 control-label" for="password"><b>password</b></label> -->
              <input [class.is-invalid]="forgotPasswordForm.controls.password.invalid && (forgotPasswordForm.controls.password.touched || forgotPasswordForm.controls.password.dirty)"
                formControlName="password" placeholder="Password" id="password" type="password" class="form-control"
                (blur)="logValidationErrors()">
              <span class="text-danger" *ngIf="formErrors.password">
                {{formErrors.password}}
              </span>


            </div><br>

            <div class="form-group" [ngClass]="{'has-error' : formErrors.confirmPassword}">
              <!-- <label class="col-sm-8 control-label" for="password"><b>Confirm Password</b></label> -->
              <input [class.is-invalid]="forgotPasswordForm.controls.confirmPassword.invalid && (forgotPasswordForm.controls.confirmPassword.touched || forgotPasswordForm.controls.confirmPassword.dirty)"
                formControlName="confirmPassword" placeholder="Confirm Password" appUniquePasswordValidator="password"
                id="confirmPassword" type="password" class="form-control" (blur)="logValidationErrors()">
              <span class="text-danger" *ngIf="formErrors.confirmPassword">
                {{formErrors.confirmPassword}}
              </span>
            </div><br>


            <div class="form-group" style="text-align:center">
              <button class="btn btn-block" style="color:rgb(48, 51, 42) ;background-color: #b2e622" [disabled]='forgotPasswordForm.invalid'
                (click)="onClick()" type="button">REGISTER</button>
            </div>


          </form>
        </div>
      </div>