<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Forgot Password</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<div class="box">

  <body class="row">
    <div class="container">
      <h3>Forgot Password</h3><br><br>
      <form [formGroup]="forgotPasswordForm" class="form-horizontal">

        
        
        <div class="form-group" [ngClass]="{'has-error' : formErrors.password}">
          <label class="col-md-5">New Password</label>
          <input type="password" formControlName="password" class="col-md-5" name="password" placeholder="enter password"
            required autocomplete="off" (blur)="logValidationErrors()">

          <div>
            <div class="text-danger" *ngIf="formErrors.password">
              {{formErrors.password}}
            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error' : formErrors.confirmPassword}">
          <label class="col-md-5">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" appUniquePasswordValidator="password" class="col-md-5" name="confirmPassword" placeholder="re-enter password"
            required autocomplete="off" (blur)="logValidationErrors()">

          <div>
            <div class="text-danger" *ngIf="formErrors.confirmPassword">
              {{formErrors.confirmPassword}}
            </div>
          </div><br>


        </div>

        <div class="form-group">
          <button class="btn btn-info" [disabled]='forgotPasswordForm.invalid' (click) = "onClick()">Confirm</button>
        </div>


      </form>
    </div>

  </body>
</div>

</html>
