<header>
  <nav>
    <div class="row">
      <li>
        <h3 class="name" style="color:rgb(172, 233, 115)">JOB PORTAL</h3>
      </li>
      <ul class="main-nav offset-md-4">
        <li><a href="#">ABOUT US</a></li>
        <li><a href="registration">REGISTER</a></li>
        <li><a href="homepage">HOME</a></li>
      </ul>
    </div>
  </nav>
</header>


<div class="col-md-5 mx-auto" style="padding-top:80px;opacity: 0.8">
  <div class="card border" >

    <h3 style="color : rgb(90, 148, 19);padding-top:2px;padding-left:70px"> please login here</h3><br>
    <div class="loginImage offset-md-4"></div><br>
    <div class="card-body" >
      <div class="panel panel-primary">
        <div class="panel-body">


          <div>
            <form [formGroup]="loginForm" class="form-horizontal">
              <div class="form-group" [ngClass]="{'has-error' : formErrors.username}">
                <!-- <label for="usernamme"><b>Username</b></label> -->
                <input [class.is-invalid]="(uniqueUsername || loginForm.controls.username.invalid) && (loginForm.controls.username.touched || loginForm.controls.username.dirty)"
                  formControlName="username" id="username" placeholder="UserName" (input)="onUsernameChanged()" type="text"
                  class="form-control" (blur)="logValidationErrors()">
                <span class="text-danger" *ngIf="formErrors.username">
                  {{formErrors.username}}
                </span>
              </div>

              <div class="form-group" [ngClass]="{'has-error' : formErrors.password}">
                <!-- <label class="col-sm-8 control-label" for="password"><b>password</b></label> -->
                <input [class.is-invalid]="loginForm.controls.password.invalid && (loginForm.controls.password.touched || loginForm.controls.password.dirty)"
                  formControlName="password" placeholder="Password" id="password" type="password" class="form-control"
                  (blur)="logValidationErrors()">
                <div>
                  <span class="text-danger" *ngIf="formErrors.password">
                    {{formErrors.password}}
                  </span>
                </div>
                <a href="/emailSender">forrgot password?</a>


              </div><br>
              <div class="form-group" style="text-align:center;">
                <button class="btn btn-block" style="color:rgb(48, 51, 42) ;background-color: #b2e622" [disabled]='loginForm.invalid'
                  (click)="onClick()">LOGIN</button>

                <!-- <a class="btn btn-primary" href="homepage">HOME</a> -->
              </div>
              <div class="form-group" style="text-align:center;">
                Not a member yet..?&nbsp;&nbsp;<a href="/registration">Register Now</a>
              </div>




            </form>
          </div>